.prod-details-container img {
  width: 100%;
  margin-top: 70px;
}

.prod-details-container h5 {
  margin-top: 15px;
}

.details-header {
  font-size: 16px;
  font-weight: normal;
}

.prod-details-container ul,
.prod-details-container p {
  font-size: 12px;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div a {
  background-color: black;
  border: none;
  color: white;
  font-size: 12px;
  width: 250px;
  height: 30px;
  margin: 30px 0 60px;
  text-align: center;
  padding-top: 5px;
}

/* desktop */
@media (min-width: 700px) {
  .text-content-container {
    height: 100%;
    padding: 70px 30px;
  }

  .prod-details-container img {
    margin-top: 80px;
  }
}
