.card-body {
  width: 50%;
  padding: 2px;
}

.card-body img {
  width: 100%;
}

.card-body p {
  line-height: .8;
  margin-left: 2px;
  margin-top: 10px;
}

.product-page-copy-header {
  font-size: 18px;
  margin-top: 50px;
}

.product-page-copy-text {
  font-size: 12px;
}

.product-page-copy-header, .product-page-copy-text {
  color: rgb(60, 60, 60);
  text-align: center;
  padding: 0 40px 0 40px;
}

.item-name {
  font-weight: bold;
}

.card-title {
  font-size: 14px;
}
