.nav-columns {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.nav-col-left {
  font-size: 9px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.one-third {
  width: 33%;
}

.nav-col-center {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 1;

}

.premium-cycling-wear {
  font-size: 6px;
  margin-top: 3px;
}

.nav-col-center p {
  line-height: 1;
  margin-bottom: 0;
}

.nav-col-right {
  text-align: right;
  padding-right: 10px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color:black;
}

a img {
  width: 15px;
}

.cart-item-container {
  margin-bottom: 5px;
}

/* desktop */
@media (min-width: 700px) {
  .nav-col-left {
      font-size: 12px;
      padding-left: 10px;
      justify-content: left;
    }

  .nav-col-left a {
    padding-right: 30px;
  }

  a img {
    width: 20px;
  }
}
