/* to work on navbar fixed, try deleting navbar as a class in Navbar component, and try the following css */
.nav-columns {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  position: fixed;
  left: 0;
  background-color: white;
  height: 50px;
  align-items: center;
  top: 0;
  border-bottom: 1px rgb(194, 194, 194) solid;
}

.nav-col-left {
  font-size: 9px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.one-third {
  width: 33%;
}

.nav-col-center {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 1;

}

.premium-cycling-wear {
  font-size: 6px;
  margin-top: 3px;
}

.nav-col-center p {
  line-height: 1;
  margin-bottom: 0;
}

.nav-col-right {
  text-align: right;
  padding-right: 10px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a img {
  width: 15px;
}

.cart-item-container {
  margin-bottom: 5px;
}

.cart-qty {
  color: white;
  position: absolute;
  right: 2px;
  bottom: -8px;
  font-weight: bold;
  background-color: rgb(43, 96, 218);
  height: 13px;
  width: 12px;
  font-size: 9px;
  border-radius: 15px;
  text-align: center;
}

/* desktop */
@media (min-width: 700px) {
  .nav-col-left {
    font-size: 12px;
    padding-left: 10px;
    justify-content: left;
  }

  .nav-col-left a {
    padding-right: 30px;
  }

  a img {
    width: 20px;
  }

  .cart-qty {
    right: 5px;
    bottom: -5px;
    height: 12px;
    width: 12px;
    font-size: 9px;
    border-radius: 15px;
    padding-bottom: 8px;
  }
}
